{% load static %}

<div class="col-12">
  <div class="card welcome-banner bg-primary">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div class="p-4">
            <h2 class="text-white">Welcome to PKenya</h2>
            <p class="text-white">
              PKenya — the trusted platform for verifying professionals and protecting the integrity of registered professional data.
            </p>
            <a href="#S" class="btn btn-outline-light">View full statistics</a>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div class="img-welcome-banner">
            <img src="{% static 'dashboard/images/widgets/banner.png' %}"
                 alt="img"
                 class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
