<div class="modal fade modal-animate anim-super-scaled"
     id="enrollDomain"
     tabindex="-1"
     aria-modal="true"
     role="dialog"
     style="display: none">
  <div class="modal-dialog  modal-dialog-scrollable">
    <div class="modal-content">
      <form action="{{ request.path }}"
            method="post"
            class="project-form was-validated">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Enroll Domain</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="response"></div>
          {% csrf_token %}
          {{ domain_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button"
                  class="btn btn-outline-secondary"
                  data-bs-dismiss="modal">cancel</button>
          <button type="submit" class="btn btn-primary shadow-2">Save Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
