<style>
  #payloadEditor {
    height: 300px;
    border: 1px solid #121212;
    border-radius: 20px;
  }
</style>
<div id="json-editor"></div>
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="apiSimulator"
     aria-labelledby="apiSimulatorLabel"
     style="width: 800px;
            max-width: 100%">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="apiSimulatorLabel">API Call Simulator</h5>
    <button type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form id="simulateApiForm">
      <div class="mb-3">
        <label class="form-label">Selected API Key</label>
        <select id="selectedApiKey"></select>
      </div>
      <div class="mb-3">
        <label class="form-label">Resource</label>
        <select id="resource"></select>
      </div>
      <div class="mb-3">
        <label class="form-label">Query Params (JSON)</label>
        <div id="payloadEditor"></div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Send Request</button>
    </form>
    <hr />
  </div>
</div>
