{% extends 'dashboard/base.html' %}

{% load render_bundle from webpack_loader %}

{% block extra_head %}
  {% render_bundle 'editors' 'css' %}
{% endblock %}
{% block head %}
  <style>
    .popover {
      max-width: 250px;
      /* default is 276px, adjust as needed */
      width: 250px;
      border-radius: 0.75rem;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    }

    .popover-body {
      padding: 1rem;
    }

    .popover-card {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 50%;
    }
  </style>
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12"></div>
        <div class="col-md-10 mx-auto pt-3">
          <div class="d-md-flex d-block flex-column flex-md-row g-2 g-md-0 align-items-center justify-content-between">
            <div class="page-header-title">
              <h2 class="mb-0">API Keys</h2>
            </div>
            <div class="d-flex pt-3 pt-md-0 gap-3">
              <button class="d-flex align-items-center gap-2 btn btn-link-primary rounded-pill bg-link-600"
                      data-bs-toggle="modal"
                      data-bs-target="#createAPIKEY">
                <i class="ti ti-plus"></i>
                <span>create api keys</span>
              </button>
              <button class="btn btn-bg-link d-flex align-items-center gap-2 border-link-600 rounded-pill py-1 px-4 bg-link-primary"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#apiSimulator"
                      aria-controls="apiSimulator">
                <i class="ti ti-code"></i>
                <span>Simulate</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="col-md-10 mx-auto pt-3">
    <div class="card table-card latest-activity-card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Your API Keys</h5>
        <select name="permissions" class="form-select w-25">
          <option selected>Permission</option>
          <option value="*">All</option>
          <option value="domain">Domain</option>
          <option value="project">Project</option>
        </select>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Token</th>
                <th>Permission</th>
                <th>Last Used</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for key in apikeys %}
                <tr>
                  <td>{{ key.name }}</td>
                  <td>{{ key.key_id|truncatechars:'7' }}</td>
                  <td>{{ key.get_access_type_display|title }} Level</td>
                  <td>{{ key.last_used_at|timesince|default:'No activity' }}</td>
                  <td>{{ key.created_at|timesince }} Ago</td>
                  <td>{% include 'dashboard/components/apikeys/actions.html' %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block modals %}
  {% include 'dashboard/modals/keys/api_keys.html' %}
{% endblock %}
{% block offcanvas %}
  {% include 'dashboard/offcanvas/apiSimulator.html' %}
{% endblock %}
{% block extra_scripts %}
  {% render_bundle 'editors' 'js' %}
{% endblock %}
