{% load static %}

<section class="client-block">
    <div class="container title">
        <div class="row justify-content-center text-center wow fadeInUp" data-wow-delay="0.2s">
            <div class="col-md-10 col-xl-6">
                <h5 class="text-primary mb-0">Secure & Verified</h5>
                <h2 class="my-3">Available Technology</h2>
                <p class="mb-0">
                    Our professional verification platform works across multiple technologies and systems to ensure secure and trusted data for HR, organizations, and individuals. Learn more about our
                    <br />
                    <a class="text-primary" href="#">verification solutions</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center mb-4 mb-md-5">
            <div class="col-auto my-2">
                <img src="{% static 'client/images/img-avlable-tech-1.png' %}" alt="img" class="img-fluid wow fadeInUp" data-wow-delay="0.2s" />
            </div>
            <div class="col-auto my-2">
                <img src="{% static 'client/images/img-avlable-tech-3.png' %}" alt="img" class="img-fluid wow fadeInUp" data-wow-delay="0.4s" />
            </div>
            <div class="col-auto my-2">
                <img src="{% static 'client/images/img-avlable-tech-5.png' %}" alt="img" class="img-fluid wow fadeInUp" data-wow-delay="0.6s" />
            </div>
        </div>
    </div>
    <div class="marquee marquee-text">
        <ul class="list-inline marquee-list h2">
            <li class="list-inline-item">Instant Verification</li>
            <li class="list-inline-item">Trusted Data</li>
            <li class="list-inline-item">Secure Platform</li>
            <li class="list-inline-item">Fast Reports</li>
            <li class="list-inline-item">HR & Organization Friendly</li>
            <li class="list-inline-item">Verified Professionals</li>
            <li class="list-inline-item">Easy Integration</li>
        </ul>
    </div>
</section>
