{% load static %}

<section>
  <div class="container title">
    <div class="row justify-content-center text-center wow fadeInUp"
         data-wow-delay="0.2s">
      <div class="col-md-10 col-xl-6">
        <h5 class="text-primary mb-0">Trusted & Verified</h5>
        <h2 class="my-3">Why Choose Us?</h2>
        <p class="mb-0 text-muted">
          Our platform ensures accurate, fast, and secure professional verification for organizations and individuals. Trust, compliance, and efficiency are at the core of what we do.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <!-- Feature 1 -->
      <div class="col-sm-6 col-lg-4">
        <div class="card wow fadeInUp" data-wow-delay="0.4s">
          <div class="card-body text-center">
            <img src="{% static 'assets/images/landing/img-feature1.svg' %}"
                 alt="img"
                 class="img-fluid mb-3" />
            <h5 class="my-3">Professional Verification</h5>
            <p class="mb-0 text-muted">
              Verify professional credentials accurately and instantly, reducing fraud and ensuring trustworthiness.
            </p>
          </div>
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="col-sm-6 col-lg-4">
        <div class="card wow fadeInUp" data-wow-delay="0.6s">
          <div class="card-body text-center">
            <img src="{% static 'assets/images/landing/img-feature2.svg' %}"
                 alt="img"
                 class="img-fluid mb-3" />
            <h5 class="my-3">Secure & Reliable</h5>
            <p class="mb-0 text-muted">
              All data is securely stored and processed. Organizations and users can rely on our verified database.
            </p>
          </div>
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="col-sm-6 col-lg-4">
        <div class="card wow fadeInUp" data-wow-delay="0.8s">
          <div class="card-body text-center">
            <img src="{% static 'assets/images/landing/img-feature3.svg' %}"
                 alt="img"
                 class="img-fluid mb-3" />
            <h5 class="my-3">Fast & Efficient</h5>
            <p class="mb-0  text-muted">
              Quickly access verified professional information for HR, organizations, and individuals
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
