{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}Professional Website for Registered Professions{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="A professions lookup web application for verified practitioners in kenya" />
    <meta name="author" content="jeckonia" />
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <meta name="developer" content="{{ request.user }}" />
    {% render_bundle 'dashboard' 'js' is_preload=true %}
    {% render_bundle 'dashboard' 'css' is_preload=true %}
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'dashboard' 'css' %}
    {% endblock %}
    <!--   Le javascript
    ==================================================   -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'dashboard' 'js' attrs='defer' %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div class="progress-top-bar" style="width: 0%;"></div>
    {% block loader %}
      <div id="loader" class="d-none">
        <img src="{% static 'dashboard/images/loader.svg' %}" alt="" />
      </div>
    {% endblock %}
    {% block main %}
      <div class="page">
        {% block header %}{% endblock %}
        
        {% block sidebar %}
          
        {% endblock sidebar %}
          
        {% block content %}
          <div class="container">
            {% block main_content %}<!-- Main content goes here -->{% endblock %}
          </div>
        {% endblock %}
        {% block footer %}
          <footer class="footer mt-auto py-3 text-center">
            <div class="container">
              <span class="text-muted">Copyright ©<span id="year"></span><a href="javascript:void(0);" class="text-dark fw-medium">PKenya</a>.</span>
            </div>
          </footer>
        {% endblock %}
      </div>
    {% endblock main %}
    <div class="scrollToTop" style="display: none;">
      <span class="arrow lh-1"><i class="ti ti-arrow-big-up fs-18"></i></span>
    </div>
    <div id="responsive-overlay" class=""></div>
    {% block scripts %}<!-- Additional scripts can be added here -->{% endblock %}
  </body>
</html>
