{% extends 'client/layout.html' %}
{% load static %}
{% block title %}
  Server Error
{% endblock %}
{% block body %}
  <div class="maintenance-block">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card error-card">
            <div class="card-body">
              <div class="error-image-block">
                <div class="row justify-content-center">
                  <div class="col-10">
                    <img class="img-fluid" src="{% static 'assets/images/pages/Error500.png' %}" alt="img" />
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h1 class="mt-4">Internal Server Error</h1>
                <p class="mt-2 mb-4 text-sm">
                  {% if exception %}
                    {{ exception }}
                  {% else %}
                    We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    window.applyTheme({ pcTheme: 'dark', fontFamily: "'Roboto', sans-serif"  })
  </script>
{% endblock %}
