{% extends 'dashboard/layout.html' %}

{% block nav %}
  {% include 'dashboard/components/navigation/navbar.html' %}
{% endblock %}
{% block header %}
  {% include 'dashboard/components/navigation/header.html' %}
{% endblock %}
{% block main %}
  <div class="pc-container">
    <div class="pc-content">
      {% block head %}
        {% comment %} <div class="page-header">
          <div class="page-block">
            
          </div>
        </div> {% endcomment %}
      {% endblock %}
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock %}
