{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}
  {% include 'dashboard/components/hero/banner.html' %}
  <div class="row">
    {% if projects %}
      {% developer_project_stats %}
    {% else %}
      {% developer_none_projects %}
    {% endif %}
  </div>







{% endblock %}
{% block extra_scripts %}
  <script id="usageChartData" type="application/json">
    {{ usage_chart_data | safe }}
  </script>
  <script id="topEndpointsChartData" type="application/json">
    {{ top_endpoints_chart_data | safe }}
  </script>
{% endblock extra_scripts %}
