<div class="position-relative">
  <video src="https://media.istockphoto.com/id/1062080128/video/moving-through-endless-data-center-with-server-racks-full-of-blinking-led-lights.mp4?s=mp4-640x640-is&amp;k=20&amp;c=Tplqv5_3MPRF9GUVsF9b8DzD0Bqnjzk-AQLxXbl2QT0="
         autoplay
         loop
         muted
         playsinline
         class="Iq1G_a2IQfN_gIV8VKAw d-none d-md-block position-relative">
  </video>
  <div style="position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              pointer-events: none;
              background: radial-gradient(ellipse at center, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%)"></div>
</div>
